[run]
omit = */tests/*
       */routes/*
       */utils/*
       */docs/*
       officedatamanager/__init__.py
       officedatamanager/main/config.py
       officedatamanager/main/app.py
       officedatamanager/main/__init__.py

[report]
fail_under = 85.0
